@import "../abstracts/variables";
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.6;
}

.heading-4, .heading-5 {
  text-align: center;
}
