.navBar {
  &__bar {
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(194, 194, 194);
    @media (min-width: 992px) {
      & {
      }
    }
  }

  &__logo-box {
    &:hover {
    }
  }

  &__logo {
    max-width: 100%;
  }

  &__buttons {
    display: table;
    @media (min-width: 992px) {
      & {
      }
    }
  }

  &__link {
    display: table-cell;
    text-align: center;
    &:first-child {
      width: 20%;
      @media (min-width: 992px) {
        & {
          text-align: left;
        }
      }
    }
    &:nth-child(2) {
      width: 20%;
      @media (min-width: 992px) {
        & {
          text-align: left;
        }
      }
    }
    &:nth-child(3) {
      width: 20%;
    }
    &:nth-child(4) {
      width: 40%;
      @media (min-width: 992px) {
        & {
          text-align: right;
        }
      }
    }

    &:hover {

    }
  }
}
