a {
  cursor: pointer;
}

.panel {
  cursor: pointer;
}

.ship .panel-body img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
}

@media (min-width: 992px) {
  .panel-heading {
    min-height: 72px;
    height: 58px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 80%;
  }
}

.alert {
  margin: 2rem 0;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

// .active-link {

// }
